<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-10">
    <h4 style="color:rgb(120,120,120); margin-bottom:4px;">
      {{ application['full_name'] }}
    </h4>
    <div>
      <b>email</b> {{ application['email'] }}
    </div>
    {% if 'education' in application %}
    <div>
      <b>Education:</b> {{application['education']}}
    </div>
    {% endif %}
    {% if 'work_experience' in application %}
    <div>
      <b>Experience:</b> {{application['work_experience']}}
    </div>
    {% endif %}

    {% if 'created_at' in application %}
    <div>
      <b>Submitted Time</b> {{application['created_at']}}
    </div>
    {% endif %}
  </div>
</div>
